$dark: #2b2b2b;
@import "..node_modules/bootstrap/scss/_functions";
@import "..node_modules/bootstrap/scss/_variables";

$custom-theme-colors: (
  "altlight": #f2ebfa,
  "altdark": #2b2b2b,
);
$theme-colors: map-merge($custom-theme-colors, $theme-colors);

@import "../node_modules/bootstrap/scss/bootstrap.scss"