@import url('https://fonts.googleapis.com/css2?family=Adamina&family=Cormorant+Upright:wght@300;400;500;600;700&family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inter:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --custom-primary-color: #fff;
  --custom-secondary-color: #2ECC71;
  --custom-primary-text-color: #fff;
  --custom-secondary-text-color: #000;
  --custom-third-text-color: #2ECC71;
  --custom-body-color: #2b2b2b;
}
body{
  background-color: var(--custom-body-color);
}

/* Styling landing page */
.logo{
  height: 60px;
}
.navbar-nav .nav-link{
  color: var(--custom-primary-text-color);
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 14px;
  position: relative;
  display: inline-block;
}
.navbar-nav .nav-link::after{
  content: '';
  width: 0;
  height: 2px;
  background: var(--custom-secondary-color);
  position: absolute;
  left: 7px;
  bottom: -6px;
  transition: 0.5s;
}
.navbar-nav .nav-link:hover::after{
  width: 60%;
}

@media (max-width: 768px) {
  .navbar-nav .nav-link::after {
    display: none;
  }
}
h1{
  color: var(--custom-primary-text-color);
  font-family: "Inter", sans-serif;
  font-weight: 800;
  font-size: 85px;
}
.self-desc{
  color: var(--custom-primary-text-color);
  font-family: "Inter", sans-serif;
  font-size: small;
  font-weight: 300;
  width: 400px;
  display: inline-block;
}
.container{
  padding: 150px 0 150px 0;
}
.btn-custom {
  display: inline-block;
  padding: 0.6rem 1.3rem;
  font-family: "Inter", sans-serif;
  font-size: 0.9rem;
  font-weight: 500;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  border: 1px solid var(--custom-primary-color);
  border-radius: 5px;
  color: var(--custom-primary-text-color);
  background-color: transparent;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}
.btn-custom:hover {
  background-color: var(--custom-primary-color);
  color: var(--custom-secondary-text-color);
}
.btn-custom:active,
.btn-custom.active {
  background-color: var(--custom-secondary-color);
  border-color: var(--custom-secondary-color);
  color: var(--custom-secondary-text-color);
}

/* About Section */
.sections {
  padding: 3.2rem;
}
.display-title {
  font-family: "Adamina", serif;
  font-weight: 500;
  font-size: 40px;
  padding-bottom: 8px;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.display-description {
  padding-bottom: 15px;
  color: var(--custom-third-text-color);
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 5px;
}
.dev,
.designer {
  color: var(--custom-third-text-color);
  font-weight: 700;
}
.lead {
  color: var(--custom-primary-text-color);
  font-family: "Noto Sans", sans-serif;
  font-size: 12px;
  font-weight: 200;
  width: 88%;
  letter-spacing: 2px;
  text-align: justify;
  line-height: 1.7;
}
.about-col-1 {
  flex-basis: 30%;
}
.about-col-1 img {
  width: 330px;
  border-radius: 15px;
}
.about-col-2 {
  flex-basis: 60%;
}
.tab-titles {
  display: flex;
  margin: 20px 0 100px;
}
.tab-links {
  color: var(--custom-primary-text-color);
  margin-right: 50px;
  font-family: "Playfair Display", serif;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  position: relative;
}
.tab-links::after {
  content: '';
  width: 0;
  height: 2px;
  background: var(--custom-secondary-color);
  position: absolute;
  left: 2px;
  bottom: -6px;
  transition: 0.5s;
}
.tab-links.active-link::after {
  width: 60%;
}
.tab-contents ul li {
  list-style: none;
  color: var(--custom-primary-text-color);
  margin: 7px 0;
  font-family: "Inria Serif", serif;
  font-size: 14px;
  font-weight: 100;
  letter-spacing: 1px;
}
.tab-contents ul li span {
  color: var(--custom-third-text-color);
  font-family: "Inria Serif", serif;
  font-weight: 500;
}
.responsibilities ul li {
  font-size: 2px;
}
.tab-contents {
  display: none;
}
.tab-contents.active-tab {
  display: block;
}
.btn-custom-one {
  display: block;
  margin: 0 auto;
  padding: 0.6rem 1.3rem;
  width: 120px;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  border: 1px solid var(--custom-secondary-color);
  border-radius: 5px;
  color: var(--custom-primary-text-color);
  background-color: transparent;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}
.btn-custom-one:hover {
  background-color: var(--custom-secondary-color);
  color: var(--custom-secondary-text-color);
}
.btn-custom-one:active,
.btn-custom-one.active {
  background-color: var(--custom-secondary-color);
  border-color: var(--custom-secondary-color);
  color: var(--custom-secondary-text-color);
}

/* Adjustments for small screens */
@media (max-width: 767px) {
  .sections {
    padding: 10px;
  }
  .container-xxl {
      padding: 20px auto;
      text-align: center;
      justify-content: center;
   }
  .about-col-1 img{
    display: block;
    margin: 50px auto;
    min-width: 50vh;
    max-width: 100%;
  }
  .lead {
    width: 300px;
    margin: auto;
  }
  .btn-custom-one {
    display: none;
  }
  .tab-links {
    display: block;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
    margin: 0 auto 10px;
  }
  .tab-contents {
    text-align: center;
  }
  .list-group li {
    list-style: none;
    margin-bottom: 10px;
  }
}

/* Styling project section */
.project-container {
  margin: 30px auto;
}
.proj-title {
  font-family: "Inria Serif", serif;
  font-weight: 300;
  font-size: 50px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: var(--custom-primary-color);
  text-align: center;
}
.project-container .row {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.project-image {
  max-width: 100%;
}
.project-container h2 {
  font-family: "Inria Serif", serif;
  font-weight: 500;
  font-size: 25px;
  color: var(--custom-primary-text-color);
}
.project-container p {
  margin-bottom: 25px;
  color: var(--custom-primary-text-color);
}
.project-container .interface {
  font-family: "Cormorant Upright", serif;
  font-style: italic;
  font-weight: 300;
  font-size: 20px;
}
.project-container .description {
  width: 85%;
  font-family: "Inter", sans-serif;
  font-weight: 200;
  font-size: 12px;
  text-align: justify;
}
.project-container hr {
  border-top: 2px solid var(--custom-secondary-color);
  margin: 80px 50px 80px auto;
}
.col-md-12,
.col-md-6,
.col-md-5{
  margin-top: 50px;
  margin-bottom: 50px;
  color: var(--custom-primary-text-color);
}
.project-container .btn {
  display: inline-block;
  padding: 0.8rem 1rem;
  font-family: "Inter", sans-serif;
  font-size: 0.9rem;
  font-weight: 500;
  letter-spacing: 2px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  border: 1px solid var(--custom-secondary-color);
  border-radius: 5px;
  color: var(--custom-primary-text-color);
  background-color: transparent;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}
.project-container .btn:hover {
  background-color: var(--custom-secondary-color);
  color: var(--custom-secondary-text-color);
}
.project-container .btn:active,
.project-container .btn.active {
  background-color: var(--custom-secondary-color);
  border-color: var(--custom-secondary-color);
  color: var(--custom-secondary-text-color);
}

/* Media query for smaller screens of project page */
@media (max-width: 767px) {
  .project-container {
    margin: 10px auto;
  }
  .proj-title {
    font-size: 30px;
    letter-spacing: 2px;
    margin-bottom: 20px;
  }
  .project-container .row {
    flex-direction: column;
    align-items: center;
  }
  .project-image {
    width: 100%;
  }
  .project-container h2 {
    font-size: 20px;
    margin-top: 15px;
  }
  .project-container p {
    margin-bottom: 20px;
  }
  .project-container .interface {
    font-size: 16px;
  }
  .project-container .description {
    width: 100%;
  }
  .project-container hr {
    margin: 30px auto;
  }
  .col-md-12,
  .col-md-6,
  .col-md-5 {
    margin: 30px 0 40px 0;
  }
  .project-container .btn {
    display: block;
    margin: 40px auto;
  }
}


/* Project 1, 2  and 3 */
.header {
  display: flex;
  flex-direction: column;
  padding: 50px 0 0px 0;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.header img {
  max-width: 55%;
}
.content {
  background-color: white;
  margin: 50px auto 0;
  padding: 100px 180px;
}
.display-proj-title {
  font-family: "Inria Serif", serif;
  font-weight: 600;
  font-size: 2em;
}
.proj-container hr {
  height: 1px;
  background-color: #ccc;
  margin: 30px 0 60px 0;
}
.proj-container h4 {
  font-family: "Inria Serif", serif;
  font-weight: 700;
  font-size: 25px;
  letter-spacing: .8px;
  margin: 40px 0 20px 0;
}
.proj-container p {
  font-family: "Inria Serif", serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 2;
  margin-bottom: 50px;
}
.components-title,
.features-title,
.implement-title,
.benefits-title {
  font-family: "Inria Serif", serif;
  font-weight: bolder;
  font-size: 16px;
}
.proj-container ul {
  list-style-type: none;
  padding-left: 0;
}
.proj-container li {
  margin-bottom: 10px;
  font-family: "Inria Serif", serif;
  font-weight: 400;
  font-size: 15px;
}
.proj-container .cac-img {
  width: calc(100% - 5px);
  margin: 40px auto;
}
.proj-container .btn {
  display: inline-block;
  margin-top: 50px;
  padding: 0.8rem 1rem;
  font-family: "Inter", sans-serif;
  font-size: 0.9rem;
  font-weight: 500;
  letter-spacing: 2px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  border: 1px solid var(--custom-secondary-color);
  border-radius: 5px;
  color: var(--custom-primary-text-color);
  background-color: transparent;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}
.proj-container .btn:hover {
  background-color: var(--custom-secondary-color);
  color: var(--custom-secondary-text-color);
}
.proj-container .btn:active,
.proj-container .btn.active {
  background-color: var(--custom-secondary-color);
  border-color: var(--custom-secondary-color);
  color: var(--custom-secondary-text-color);
}

/* Media query for smaller screens of projects */
@media (max-width: 768px) {
  .content {
    padding: 50px;
  }
}

/* Styling contact section */
.contact-title{
  color: var(--custom-primary-text-color);
  font-family: "Playfair Display", serif;
  font-size: 50px;
  font-weight: 400;
}
.contact-desc{
  color: var(--custom-primary-text-color);
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 200;
}
.contact-item h2{
  color: var(--custom-primary-text-color);
  margin-top: 30px;
  font-family: "Cormorant Upright", serif;
  font-size: 28px;
  font-style: italic;
  font-weight: 200;
}
.contact-item {
  margin-bottom: 15px;
}
.contact-link {
  color: var(--custom-primary-text-color);
  font-family: "Inter", sans-serif;
  font-size: 15px;
  text-decoration: none;
}
.contact-link:hover {
  text-decoration: underline;
}


/* Scroll up btn */
#scrollToTopBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  font-size: 18px;
  background-color: var(--custom-secondary-color);
  color: #fff;
  border: none;
  border-radius: 20%;
  cursor: pointer;
  padding: 10px;
  transition: opacity 0.3s;
}

#scrollToTopBtn:hover {
  opacity: 0.7;
}
